Django>=4.0
djangorestframework>=3.14
django-clickhouse       # если используете пакет для интеграции
psycopg2-binary         # для PostgreSQL
python-dotenv  
python-dotenv>=1.0
django-filter>=23.0
django-cors-headers>=4.0
openpyxl>=3.0
reportlab>=4.0
python-docx>=0.8.11